@media screen and (max-width: 768px) {
    .navbar-brand{
        margin: 0;
    }
    .navbar-brand{
        font-size: 14px;
    }
    .locales{
        font-size: 12px;
    }
    header {
        background-image: linear-gradient(to right, #4bb1f3, #3ca2e7, #2c93db, #1a84cf, #0075c2);
    }
    .navbar-brand span {
        color: #ffffff;
    }
    .navbar{
        padding: 5px 0;
    }
}
